doctype html
html(lang="en")
	head
		title="Baltimore and Ohio"
		script(src='/index.js', type='text/javascript')
		link(href='/style.css', type='text/css', rel='stylesheet', media='screen')
	body
		div#company-list(data-bind='foreach: { data: companies }')
			div.overview(data-bind='style: {backgroundColor: color}, click: select')
				div.title
					img(data-bind='attr: { src: icon }')
					h3(data-bind='text: name')
				div
					// ko if: selected
					div.split-row
						span President:
							span(data-bind='text: president.name')
						span Shares:
							span(data-bind='text: president.shares')
					// /ko
					div.split-row
						span Stock:
							span.money-value(data-bind='text: stock_price')
						span Income:
							span.money-value(data-bind='text: net_income')
					// ko if: selected
					div.split-row
						span Treasury:
							span.money-value(data-bind='text: treasury')
						span Held Stock:
							span(data-bind='text: held_stock')
					div.split-row
						span Cubes Left:
							span(data-bind='text: cubes')
						span Coal Mined:
							span(data-bind='text: coal')
					div.equipment
						div
							span Tech 1:
								span(data-bind='text: equipment.level_1')
							span Tech 2:
								span(data-bind='text: equipment.level_2')
							span Tech 3:
								span(data-bind='text: equipment.level_3')
						div
							span Tech 4:
								span(data-bind='text: equipment.level_4')
							span Tech 5:
								span(data-bind='text: equipment.level_5')
							span Tech 6:
								span(data-bind='text: equipment.level_6')
					// /ko
		//- We put the hex map under a div because the library we are using messes with the element
		//- in a way that makes it difficult to add listeners for resizing and zooming events.
		div#hex-map-parent
			canvas#hex-map
		div#player-list(data-bind='foreach: { data: players }')
			div.overview(data-bind='click: select')
				div.title
					h3(data-bind='text: name')
				div.split-row
					span Cash:
						span.money-value(data-bind='text: cash')
					span Total:
						span.money-value(data-bind='text: net_worth')
				// ko if: selected
				div.stocks
					table
						tbody
							// ko foreach: { data: stock_list }
							tr(data-bind='style: {backgroundColor: color}, if: count')
								th(data-bind='text: name')
								td
									span(data-bind='text: count')
									span(data-bind='if: president') &nbsp;-&nbsp;Pres
							// /ko
				// /ko
