doctype html
html(lang="en")
	head
		title="Baltimore & Ohio"
		script(src='/index.js', type='text/javascript')
		link(href='/style.css', type='text/css', rel='stylesheet', media='screen')
	body
		div#alert-mask(data-bind='css: { hidden: !active() }')
			div.main-box
				h3(data-bind='text: description')
				ul(data-bind='foreach: { data: messages, as: "msg" }')
					li(data-bind='text: msg')
				button(data-bind='click: accept') OK

		div#company-list(data-bind='foreach: { data: companies }')
			div.overview(data-bind='style: {backgroundColor: color}, click: select')
				// ko if: restricted
				div.mask
				// /ko
				div.title
					img(data-bind='attr: { src: icon }')
					h3(data-bind='text: name')
				// ko if: selected
				div.leader
					span President:
						span(data-bind='text: president() || "Unstarted"')
				// /ko
				div.split-row
					span Stock:
						span.money-value(data-bind='text: stock_price() || " --"')
					span Income:
						span.money-value(data-bind='text: net_income() || " --"')
				// ko if: selected
				div.split-row
					span Treasury:
						span.money-value(data-bind='text: treasury')
					span Held Stock:
						span(data-bind='text: held_stock')
				div.split-row
					span Cubes Left:
						span(data-bind='text: unbuilt_track')
					span Coal Mined:
						span(data-bind='text: coal_mined')
				div.equipment
					table
						tr
							th Equipment
							th Count
							th Capacity
						// ko foreach: { data: equipment_list }
						tr
							th(data-bind='text: name')
							td(data-bind='text: count')
							td(data-bind='text: capacity')
						// /ko
				// /ko

		//- We put the hex map under a div because the library we are using messes with the element
		//- in a way that makes it difficult to add listeners for resizing and zooming events.
		div#hex-map-parent
			canvas#hex-map

		div#player-list(data-bind='foreach: { data: players }')
			div.overview(data-bind='click: select')
				div.title
					h3(data-bind='text: name')
				div.split-row
					span Cash:
						span.money-value(data-bind='text: cash')
					span Total:
						span.money-value(data-bind='text: net_worth')
				// ko if: selected
				div.stocks
					div Stock Options:
					table
						tbody
							// ko foreach: { data: stock_list }
							tr(data-bind='style: {backgroundColor: color}, if: count')
								th(data-bind='text: name')
								td(data-bind='text: count')
							// /ko
				// /ko

		div#user-input
			div
				h3(data-bind='text: description')
				div
					// ko if: market_phase
					div.market(data-bind='with: market')
						div
							span
								input(type='radio', name='action', value='pass', data-bind='checked: action')
								| Pass
							span
								input(type='radio', name='action', value='player', data-bind='checked: action')
								| Buy/Sell
						div(data-bind='if: action() !== "pass"')
							div Purchase:
								br
								span Count:
									input(data-bind='value: buy_cnt', maxlength='2')
								span Price:
									input(data-bind='value: buy_price', maxlength='2')
						div.stocks(data-bind='if: action() !== "pass" && sales().length > 0')
							div Sell:
							table
								tbody(data-bind='foreach: {data: sales}')
									tr(data-bind='style: {backgroundColor: color}')
										th(data-bind='text: company')
										td
											input(data-bind='value: count', maxlength='2')
					// /ko

					// ko ifnot: market_phase
					// ko if: business_part1
					div(data-bind='with: inventory')
						div
							div Scrap:
							table
								tbody(data-bind='foreach: {data: scrap}')
									tr
										th(data-bind='text: level')
										td
											input(data-bind='value: count', maxlength='2')
						div
							div Buy:
								br
								span Count:
									input(data-bind='value: buy', maxlength='2')
						div
							span
								input(type='radio', name='action', value='build', data-bind='checked: action')
								| Build Track
							span
								input(type='radio', name='action', value='mine', data-bind='checked: action')
								| Mine Coal
							div Use map to select hexes.

					// /ko

					// ko ifnot: business_part1
					div(data-bind='with: earnings')
						span
							input(type='checkbox', data-bind='checked: dividends')
							| Pay Dividends
					// /ko
					// /ko
				div
					button(data-bind='click: confirm') Confirm


		div#game-state
			div.split-row
				span Phase:
					span(data-bind='text: phase')
				span Round:
					span(data-bind='text: round')
			div.equipment-costs
				div Equipment Costs:
				table
					tbody
						// ko foreach: { data: train_costs }
						tr
							th(data-bind='text: name')
							// ko foreach: { data: costs }
							td.money-value(data-bind='text: value, css: {bought: number < trains_bought()}')
							// /ko
						// /ko
			div.stocks
				div Orphan Stocks:
				table
					tbody
						// ko foreach: { data: orphan_stocks }
						tr(data-bind='style: {backgroundColor: color}, if: count')
							th(data-bind='text: name')
							td(data-bind='text: count')
						// /ko
