doctype html
html(lang="en")
	head
		title="Baltimore and Ohio"
		script(src='/index.js', type='text/javascript')
		link(href='/style.css', type='text/css', rel='stylesheet', media='screen')
	body
		div#company-list(data-bind='foreach: { data: companies }')
			div.company-overview(data-bind='style: {backgroundColor: color}')
				div.company-title
					img(data-bind='attr: { src: icon }')
					h3(data-bind='text: name')
				div.company-leader
					span President:
						span(data-bind='text: _president')
				div.company-finance
					span Held Stock:
						span(data-bind='text: held_stock')
					span Stock Price:
						span(data-bind='text: stock_price')
					span Net Income:
						span(data-bind='text: net_income')
				div.company-assets
					span Treasury:
						span(data-bind='text: treasury')
					span Cubes:
						span(data-bind='text: cubes')
					span Coal:
						span(data-bind='text: coal')
				table.company-equipment
					tr
						th 1
						th 2
						th 3
						th 4
						th 5
						th 6
					tr(data-bind='foreach: { data: equipment, as: "count" }')
						td(data-bind='text: count')
		//- We put the hex map under a div because the library we are using messes with the element
		//- in a way that makes it difficult to add listeners for resizing and zooming events.
		div#hex-map-parent
			canvas#hex-map
