@company-width: 300px;

#company-list {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: @company-width;
	overflow-y: scroll;
}

#hex-map-parent {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: @company-width;
	right: 0px;
}
